# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*pytest_cache*
*.log*
*.yml
!docker-compose.yml
.vscode/*
!.github/**
*.svg
.venv*
.tox
*.env
actualtap_py.egg-info/

# API Testing Client
bruno/