---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-json
      - id: check-yaml
      - id: debug-statements
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: fix-byte-order-marker
      - id: fix-encoding-pragma
        args: [--remove]
      - id: pretty-format-json
        args: [--autofix, --indent, '4', --no-sort-keys]
  - repo: https://github.com/hhatto/autopep8
    rev: v2.3.2
    hooks:
      - id: autopep8
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.38.0  # or higher tag
    hooks:
      - id: yamllint
        args: [--format, parsable, --strict]
        exclude: ^(\.github/|docker-compose\.yml$)
  - repo: https://github.com/lyz-code/yamlfix
    rev: 1.19.1
    hooks:
      - id: yamlfix
        exclude: ^(\.github/|docker-compose\.yml$)
  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
        name: isort (python)
        args: [--force-single-line-imports, --profile, black]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade
        args: [--py3-plus]
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 26.1.0
    hooks:
      - id: black
        language_version: python3
        args: [--line-length, '130']
  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        args: [--config=.flake8]
