# Unique ID
api_key: "527D6AAA-B22A-4D48-9DC8-C203139E5531"
# URL to Actual Budget Server
actual_url: "https://actual.yourdomain.com"
# Password for your Actual Budget Server
actual_password: "superSecretPassword"
# Encryption passwordAdd commentMore actions
actual_encryption_password: "superSecretEncryptionPassword"
# The name of your budget or Sync ID of the budget
actual_budget: "My budget"
# The Unique Id of an account you want transactions to default too
actual_default_account_id: "8AF657D4-4811-42C7-8272-E299A8DAC43A"
# If the Merchant name is missing, but the Amount still has a value, a transaction can be created with this as the payee name
actual_backup_payee: "Unknown"
# Mapping of Tap to Pay account to Actual Account ID
account_mappings:
  savings: "8AF657D4-4811-42C7-8272-E299A8DAC43A"
  checking: "B2F7DF53-6A9C-42CF-B091-9129A3A9B528"
  credit_card: "C3D8F25A-9C7D-4C9B-8589-8A3790C03B2D"
log_level: INFO
