name: Tag

on:
  push:
    branches: [ main ]

jobs:
  tag-new-versions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          fetch-depth: 2
      - uses: salsify/action-detect-and-tag-new-version@v1.0.3
        with:
          version-command: |
            cat VERSION

permissions:
  contents: write
